.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 25px;
}

.project-card {
    padding: 20px;
}

.edit-container {
    flex-direction: row;
}

.card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new-project {
    background-color: #D81B60;
}

@media (max-width: 600px) {

.project-grid {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.project-card {
    width: 100%;
}
}