<form action="/projects/new" method="POST">
    <div>  
      <label for="title">Title</label>
      <br>
      <input type="text" id="title" name="title" required>
    </div>

    <div>  
        <label for="description">Description: </label>
        <br>
        <small>Please write a small blurb about what you are investigating.</small>
        <br>
        <input type="text" id="description" name="description" required>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
  </form>